h1 {
  display: none;
  color: white;
}

body {
  background-color: black;
}
@media screen and (min-width: 1200px) {
  body {
    background-color: coral;
  }
  /* .large {
    display: none;
  } */
  .very-large {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .very-small {
    display: block;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  body {
    background-color: purple;
  }
  /* .medium {
    display: none;
  } */
  .large {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
    background-color: blue;
  }
  /* .small {
    display: none;
  } */
  .medium {
    display: block;
  }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  body {
    background-color: yellow;
  }
  /* .very-small {
    display: none;
  } */
  .small {
    display: block;
  }
}
